body {
    background-image: linear-gradient(to bottom left, #afbabaa2 10%, #d88c28);
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 0,5rem;
}

button {
    border: 0;
    border-radius: 10px;
    background-color: #cfbc0e;
    color: black;
}

button:hover {
    color: #c72121;
    background-color: rgb(8, 16, 85);
}

header>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav div{
    text-align: center;
    background-image: linear-gradient(to bottom left, #191b1ba2 20%, #d88c28);
    border-radius: 50px;
}

.hedi {
    display: block;
    margin-top: 0;
    background-image: url("Asset\ 20@4x.png");
    border-radius: 10px;
}

.hedi p {
    color: white;
    margin-left: 3%;
}

article {
    display: flex;
    flex: 1;
}

article div {
    background-image: linear-gradient(to bottom left, #afbabaa2 10%, #d8d528);
    display: block;
    justify-content: space-evenly;
    margin: 3px;
    border-radius: 10px;
}

article div img {
    border-radius: 10px;
}

footer {
    display: flex;
    background-image: linear-gradient(to bottom left, #afbabaa2 10%, #3b342b);
    margin-top: 0.2rem;
    border-radius: 15px;
}

footer img {
    margin-left: 1rem;
}

footer p {
    margin-left: 11rem;
}